* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f0f2f5;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 520px;
  padding: 35px;
  border-radius: 14px;
  background: white;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}
.app-name {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;   
}

.profile-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin: 15px 0 25px;
}

.list {
  text-align: left;
  margin-left: 40px;
  padding-left: 0;
}

.list li {
  margin-bottom: 8px;
}
