
.page {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background: black;
}

.squareCard {
  width: 400px;
  height: 400px;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}
